*{
    margin: 0;
    padding: 0;
}

/* BODY */
.body{
    background-color: rgb(248, 245, 240);
}

.grid{  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: .5fr .5fr .5fr;
    grid-auto-flow: row;
    grid-template-areas:
    "header header header header header"
    "main main main main main"
    "footer footer footer footer footer";
}

/* ENCABEZADO */
.header{ 
    grid-area: header;
    background-color: rgb(250, 235, 215);
    display: flex;
    justify-content: space-between;   
}

.logo{
    border: solid 2px rgb(0, 0, 0);
    border-radius: 100%;
    width: 200px;
    margin: 25px;

}

.logo:hover{
    transform: rotate(360deg);
    transition: 5s;
}

.menu{
    display: flex;
    justify-content: center;
}

nav ul li{   
    padding: 10px; 
    margin: 20px;
    margin-top: 100px;
    list-style: none;   
}

a{
    color: rgb(255, 127, 80);
    text-decoration: underline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.menu a:hover{
    color: rgb(0, 0, 0);
}

.navbar-toggler{
    color: rgb(253, 179, 136);
}

.nav-link{
    color: rgb(255, 127, 80);
    text-decoration: underline;
}

/* CONTENIDO PRINCIPAL */
.main{ 
    grid-area: main; 
    animation-name: animacion;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

h1{
    color: rgb(255, 127, 80);
    font-style: oblique;
    font-size: 30px;
    text-align: center;
    padding: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


/* INICIO */
.sectionFlex{
    display: flex;
    justify-content: center;
}

.sectionFlex p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-width: 200px;
    margin-top: 50px;
    margin-right: 15px;
    text-align: center;
}

.imgIndex{
    max-width: 250px;
    margin-bottom: 15px;
    border-radius: 5px;
}

/* QUIÉN SOY */
h2{
    font-family: 'Times New Roman', Times, serif;
}

.mainQuienSoy{
    display: flex;
    flex-direction: column;   
    justify-content: center; 
    align-items: center;
    background-image: linear-gradient(to left,rgb(252, 231, 217),rgb(250, 182, 137));
}

.mainQuienSoy p{
    font-family: cursive;
    max-width: 700px;
}

.mainQuienSoy li{
    font-family: cursive;
    list-style: none;
}

.imgQuienSoy{
    max-width: 400px;
    margin: 10px;
}

/* SERVICIOS */
.mainServicios{
    text-align: center;
    background-image: linear-gradient(to left,rgb(252, 231, 217),rgb(250, 182, 137));
}

.mainServicios h3{
    margin: 15px;
    font-family: 'Times New Roman', Times, serif;
}

.mainServicios li{
    list-style: none;
    font-family: cursive;
    font-size: 15px;
}

/* CONTACTO */
.mainContacto{
    background-image: url(../img/local.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150%;
}

.form{
    display: grid;
    grid-template-columns: 150px;
    justify-content: space-around;    
    justify-items: center;   
}

.form input{
    margin: 5px;    
    width: 240px;    
}

.form input:focus{
    background-color: rgb(250, 235, 215);
}

.centrado{
    text-align: center;
}

.boton:hover{
    transform: scale(1.1);
    background-color: rgb(255, 127, 80);
    transition: 2s;
}

textarea:focus{
    background-color: rgb(250, 235, 215);    
}

/* TURNOS */
.mainTurnos{
    background-image: url(../img/consultorio.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.formTurnos{
    display: grid;
    grid-auto-columns: min-content;
    justify-content: center;
    grid-row-gap: 15px;
}

.formTurnos input{
    margin: 1px;
}

.formTurnos input:focus{
    background-color: rgb(250, 235, 215);
}

.botonTurnos:hover{
    transform: scale(1.1);
    background-color: rgb(250, 235, 215);
    transition: 2s;
}

.focus:focus{
    background-color: rgb(250, 235, 215);
}

/* PIE DE PÁGINA */
.footer{
    grid-area: footer; 
    background-color: rgb(250, 235, 215);
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.footer a{
    color: rgb(0, 0, 0);
}

.footer a:hover{
    color: rgb(255, 127, 80);
}

.footer li{
    list-style: none;
}

.iconsFooter{
    display: flex;
}

.iconsFooter i{
    width: 10rem;
    font-size: 40px;
    margin: 1rem;
}

/* KEYFRAMES */
@keyframes animacion{
    0%{
        background-color: rgb(255, 229, 204);
    }
    25%{
        background-color: rgb(254,235,215);
    }
    50%{
        background-color: rgb(253,220,200);
    }
    75%{
        background-color: rgb(250, 182, 137);
    }
    100%{
        background-color: rgb(253, 179, 136);
    }
}

/* MEDIA QUERY */
@media(max-width: 768px){
    .grid{
        grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer";      
    }
    .header{
        justify-content: space-around;
        align-items: center;
    }
    .menu{
        flex-direction: column;
    }
    .mainContacto{
        background-size: cover;
    }
    .mainTurnos{
        background-size: cover;
    }
    .iconsFooter i{
        width: 5rem;
    }
        
}
  