// extend
%estiloTituloPrincipal{
    color: map-get($map: $colores, $key: 'colorSecundario');
    font-style: oblique;
    font-size: 30px;
    text-align: center;
    padding: 25px;
    font-family: Georgia, "Times New Roman", Times, serif;
}


%estiloFlexCenter {
    display: flex;
    justify-content: center;
}

// mixin

