// tipografías
$tipografiaTitulos: 'Times New Roman', Times, serif;
$tipografiaMenu: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$tipografiaParrafo: cursive;
$tipografiaListado: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
