// BODY
* {
    margin: 0;
    padding: 0;
}

.body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-flow: column;
    grid-template-areas:
        "header header header header header"
        "main main main main main"
        "footer footer footer footer footer";
    h1 {
       @extend %estiloTituloPrincipal;
    }
}