// FOOTER
.footer {
    grid-area: footer;
    background-color: map-get($map: $colores, $key:'colorPrincipal');
    @extend %estiloFlexCenter;
    flex-direction: row;

    .iconsFooter {
        display: flex;
    }

    li {
        list-style: none;
    }

    a {
        color: map-get($map: $colores, $key:'colorTerciario');

        &:hover {
            color: map-get($map: $colores, $key:'colorSecundario');
        }
    }

    i {
        width: 10rem;
        font-size: 40px;
        margin: 1rem;
    }
}