// FOOTER
.footer {
    grid-area: footer;
    background-color: $colorPrincipal;
    @extend %estiloFlexCenter;
    flex-direction: row;

    .iconsFooter {
        display: flex;
    }

    li {
        list-style: none;
    }

    a {
        color: $colorTerciario;

        &:hover {
            color: $colorSecundario;
        }
    }

    i {
        width: 10rem;
        font-size: 40px;
        margin: 1rem;
    }
}