// HEADER
.header {
    grid-area: header;
    background-color: $colorPrincipal;
    display: flex;
    justify-content: space-between;

    .logo {
        border: solid 2px $colorTerciario;
        border-radius: 100%;
        width: 200px;
        margin: 25px;

        &:hover {
            transform: rotate(360deg);
            transition: 5s;
        }
    }

    .navbar-toggler {
        color: rgb(253, 179, 136);
    }

    .menu {
       @extend %estiloFlexCenter;
    }

    ul li {
        padding: 10px;
        margin: 20px;
        margin-top: 100px;
        list-style: none;
    }

    .nav-link {
        color: $colorSecundario;
        text-decoration: underline;
        font-family: $tipografiaMenu;

        &:hover {
            color: $colorTerciario;
        }
    }
}