// INICIO
.main{
    grid-area: main; 
    min-height: 60vh;
    animation-name: animacion;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    .sectionFlex{
        @extend %estiloFlexCenter;
    }
    p{
        font-family: $tipografiaParrafo;
        max-width: 200px;
        margin-top: 100px;
        margin-right: 30px;
        text-align: center;
    }
    .imgIndex{
        max-width: 250px;
        margin-top: 50px;
        border-radius: 5px;
    }
}

