// QUIÉN SOY
.mainQuienSoy {
    grid-area: main;
    @extend %estiloFlexCenter;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to left, rgb(252, 231, 217), rgb(250, 182, 137));

    h2 {
        font-family: $tipografiaTitulos;
    }

    .imgQuienSoy {
        max-width: 400px;
        margin: 10px;
    }

    p {
        font-family: $tipografiaParrafo;
        max-width: 700px;
    }

    li {
        font-family: $tipografiaParrafo;
        list-style: none;
    }
}