// TURNOS 
.mainTurnos {
    grid-area: main;
    min-height: 60vh;
    background-image: url(../img/consultorio.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .formTurnos {
        display: grid;
        grid-auto-columns: 450px;
        justify-content: space-around;
        align-items: stretch;
    }

    input {
        margin: 1px;
        border-radius: 5px;

        &:focus {
            background-color: map-get($map: $colores, $key:'colorPrincipal');
        }

        [type="date"] {
            padding-left: 2px;
            margin-left: 4px;
        }
    }

    .focus {
        border-radius: 5px;

        &:focus {
            background-color: map-get($map: $colores, $key:'colorPrincipal');
        }
    }

    p{
        text-align: center;
    }

    .textareaTurnos {
        min-width: 200px;
    }

    .botonTurnos {
        width: 23vw;

        &:hover {
            transform: scale(1.05);
            background-color: map-get($map: $colores, $key:'colorPrincipal');
            transition: 2s;
        }
    }
}