// TURNOS 
.mainTurnos {
    grid-area: main;
    background-image: url(../img/consultorio.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

    .formTurnos {
        display: grid;
        grid-auto-columns: 450px;
        justify-content: space-around;
        align-items: stretch;
    }

    input {
        margin: 1px;
        border-radius: 5px;

        &:focus {
            background-color: rgb(250, 235, 215);
        }

        [type="date"] {
            padding-left: 2px;
            margin-left: 4px;
        }
    }

    .focus {
        border-radius: 5px;

        &:focus {
            background-color: rgb(250, 235, 215);
        }
    }

    p{
        text-align: center;
    }

    .textareaTurnos {
        min-width: 200px;
    }

    .botonTurnos {
        width: 23vw;

        &:hover {
            transform: scale(1.05);
            background-color: rgb(250, 235, 215);
            transition: 2s;
        }
    }
}