// KEYFRAMES
@keyframes animacion{
    0%{
        background-color: rgb(255, 229, 204);
    }
    25%{
        background-color: rgb(254,235,215);
    }
    50%{
        background-color: rgb(253,220,200);
    }
    75%{
        background-color: rgb(250, 182, 137);
    }
    100%{
        background-color: rgb(253, 179, 136);
    }
}